:root {
    --primary-cl: hsl(75, 94%, 57%);
    --neutral-wht: hsl(0, 0%, 100%);
    --neutral-gry: hsl(0, 0%, 20%);
    --neutral-dark-gry: hsl(0, 0%, 12%);
    --neutral-off-blk: hsl(0, 0%, 8%);
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-off-blk);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.links-profile {
    background-color: var(--neutral-dark-gry);
    text-align: center;
    margin: auto;
    padding: 24px;
    outline: none;
    border-radius: 12px;
}

.links-profile__image img {
    width: 5.5rem;
    border-radius: 50%;
}

.links-profile__header {
    margin: 1.5rem 0;
}

h1 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--neutral-wht);
}

p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    color: var(--neutral-wht);
}

.links-profile__location {
    color: var(--primary-cl);
    margin-top: 0.25rem;
    font-weight: 600;
}

.links-profile__talent {
    margin-top: 1.5rem;
}

.links-profile__btn {
    margin-top: 1.5rem;
}

.links-profile__btn li {
    width: 100%;
    padding: 0.656rem 0.75rem;
    list-style: none;
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--neutral-gry);
    border: none;
    border-radius: 8px;
}

.links-profile__btn li:hover {
    background-color: var(--primary-cl);
}

.links-profile__btn li:hover a {
    color: var(--neutral-off-blk);
}

.links-profile__btn a {
    text-decoration: none;
    color: var(--neutral-wht);
    font-weight: 600;
    font-size: 0.875rem;
}

.attribution {
  background-color: var(--neutral-gry);  
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* media query for tablet and desktop */

@media screen and (min-width: 768px) {
    .links-profile {
        width: 24rem;
        padding: 40px;
    }
}